<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="" method="post" [formGroup]="lF" (submit)="onLogin()">
            <div class="form-group has-feedback" [ngClass]="f['email']['dirty'] && f['email']['errors'] ? 'has-error' : ''">
                <input class="form-control" formControlName="email" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div class="help-block" *ngIf="f['email']['dirty'] && f['email']['errors']">
                    <div class="help-block text-danger" *ngIf="f['email']['errors']['required']">
                        <i class="fa fa-exclamation-triangle"></i> Email không được để trống
                    </div>
                    <div class="help-block text-danger" *ngIf="f['email']['errors']['email']">
                        <i class="fa fa-exclamation-triangle"></i> Email không đúng định dạng
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback" [ngClass]="f['password']['dirty'] && f['password']['errors'] ? 'has-error' : ''">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div class="help-block" *ngIf="f['password']['dirty'] && f['password']['errors']">
                    <div class="help-block text-danger" *ngIf="f['password']['errors']['required']">
                        <i class="fa fa-exclamation-triangle"></i> Mật khẩu không được để trống
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button [disabled]="lF.invalid" type="submit" class="btn btn-primary btn-block btn-flat">Sign
                        In</button>
                </div>
            </div>
        </form>

    </div>
</div>